---
import LearnAstroLayout from "../../layouts/LearnAstroLayout.astro";
---
<LearnAstroLayout url="guides/integrations-guide/" title="Add integrations">
  <p>
    Integrations are automated or manually ways to configure external things like frameworks, UIs, 
    tools to easily work with Astro. For example, there are integrations for <code>React</code>, 
    <code>Tailwind</code>, <code>NodeJS</code>, <code>Vercel</code> and much more! All supported by Astro and the community!
  </p>
  <p>
    Example of automated integration command: <code>npx astro add react</code>
  </p>
  <p class="note">NOTE: checkout the documentation to check all integrations</p>
</LearnAstroLayout>