---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout>
  <ul>
    <li><a href="/learn-astro/component-features">Components</a></li>
    <li><a href="/learn-astro/pages">Pages</a></li>
    <li><a href="/learn-astro/template-syntax">Astro Template Syntax</a></li>
    <li><a href="/learn-astro/rendering-modes">Rendering Modes</a></li>
    <li><a href="/learn-astro/content-collections">Content Collections</a></li>
    <li><a href="/learn-astro/view-transitions">View Transitions</a></li>
  </ul>
</BaseLayout>