---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout>
  <h2>Astro documentation features summarized!</h2>

  <section>
    <h3>A few tips to extract the most of this:</h3>

    <p class="mark">
      All elements with this red border around is an element with the class "mark" which indicates 
      that is the visual representation of some feature implemented in code! In other words would be very 
      interesting to check out the code! To do this check the 
      <a href="https://github.com/lucasKoyama/astro-tutorial" target="_blank">GitHub Repository</a>
    </p>

    <p class="note">NOTE: this element with green background and border are literally "NOTES" to catch your attention to some interesting detail</p>
    <p class="to-do">TO-DO: those are personal Lucas Koyama TO-DOs for future development, its my reminders</p>
  </section>

  <ul>
    <strong>Summary:</strong>
    <li><a href="/learn-astro/component-features">Components</a></li>
    <li><a href="/learn-astro/pages">Pages</a></li>
    <li><a href="/learn-astro/template-syntax">Astro Template Syntax</a></li>
    <li><a href="/learn-astro/rendering-modes">Rendering Modes</a></li>
    <li><a href="/learn-astro/content-collections">Content Collections</a></li>
    <li><a href="/learn-astro/view-transitions">View Transitions</a></li>
    <li><a href="/learn-astro/prefetch">Prefetch</a></li>
  </ul>
</BaseLayout>