---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout>
  <ul>
    <li><a href="/learn-astro/component-features">Components features</a></li>
    <li><a href="/learn-astro/pages">Pages features</a></li>
    <li><a href="/learn-astro/template-syntax">Astro Template Syntax features</a></li>
    <li><a href="/learn-astro/rendering-modes">Rendering Modes features</a></li>
  </ul>
</BaseLayout>