---
import LearnAstroLayout from "../../layouts/LearnAstroLayout.astro";


---
<LearnAstroLayout url="recipes/sharing-state/" title="Share state between Astro Components">
  <p class="to-do">TO-DO: Summarize how Astro share state between components using "Nano Stores"</p>
</LearnAstroLayout>