---
import LearnAstroLayout from "../../layouts/LearnAstroLayout.astro";


---
<LearnAstroLayout url="recipes/sharing-state/" title="Share state between Astro Components">
  <p class="to-do">TO-DO: Summarize how Astro share state between components using "Nano Stores"</p>
  <ul>
    Some resources:
    <li><a href="https://docs.astro.build/en/recipes/sharing-state-islands/" target="_blank">Share state between Islands</a></li>
    <li><a href="https://docs.astro.build/en/recipes/sharing-state/" target="_blank">Share state between Astro Components</a></li>
  </ul>
</LearnAstroLayout>