---
import LearnAstroLayout from "../../layouts/LearnAstroLayout.astro";
---
<LearnAstroLayout url="guides/view-transitions/" title="View Transitions">
  <p>View Transitions is basicaly a feature to make client side routing turning the naviation into a SPA experience like Next.js.</p>

  <p>Insert the component <code>{`<ViewTransitions />`}</code> inside the <code>{`<head>`}</code> element and done! SPA navigation.</p>

  <p class="to-do">TO-DO: Add different view transitions implementation in practice, exploring the features</p>
</LearnAstroLayout>