---
import AstroDocRef from "../../components/AstroDocRef.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout>
  <AstroDocRef url="guides/view-transitions/" title="View Transitions"/>
  <p>View Transitions is basicaly a feature to make client side routing turning the naviation into a SPA experience like Next.js.</p>

  <p>Insert the component <code>{`<ViewTransitions />`}</code> inside the <code>{`<head>`}</code> element and done! SPA navigation.</p>
</BaseLayout>