---
const { platform, link } = Astro.props;
---
<a target="_blank" href={link}>{platform}</a>

<style>
  a {
    padding: 0.33rem;
    height: fit-content;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>