---
import LearnAstroLayout from "../../../layouts/LearnAstroLayout.astro";
---

<LearnAstroLayout url="basics/astro-pages/" title="Pages" >
  <Fragment>
    This is a simple index.astro file that generated this page!

    Yep! There is nothing inside of this file because .astro files is already built to handle with the !DOCTYPE things

    <ul>
      Astro pages generate routes inside of the directory /src/pages with the following extensions:
      <li><code>.astro</code> like that one!</li>
      <li><a href="/learn-astro/pages/markdown"><code>.md</code></a></li>
      <li><code>.mdx</code> (with the MDX Integration installed)</li> 
      <li><a href="/learn-astro/pages/document"><code>.html</code></a></li>
      <li><a href="/learn-astro/pages/endpoint"><code>.js/.ts</code> (as endpoints)</a></li>
    </ul>
  </Fragment>
</LearnAstroLayout>
